<div layout-gt-sm="row" layout-align-gt-sm="start">
  <md-toolbar flex layout="column" layout-align="center center" class="md-padding">
    <span>
      <md-icon md-svg-src="img/noun_42681_cc.svg"></md-icon>
      Blood Glucose Tracker </span>
  </md-toolbar>

</div>
<nav layout-gt-sm="row" layout-align-gt-sm="end" layout layout-align="center center">
  <!--<md-button class="md-fab " aria-label="glucose test entry" href="#/glucosetest">
    <md-icon md-svg-src="img/noun_188893_cc.svg" id="fabsvg"></md-icon>
  </md-button>
  <md-button class="md-fab" aria-label="log book entry">
    <i class="mdi mdi-36px mdi-plus"></i>
  </md-button>-->

  <md-button><i class="mdi mdi-plus-circle-outline"></i> Glucose Test</md-button>
  <md-button><i class="mdi mdi-plus-circle-outline"></i> Log Book</md-button>
</nav>

