<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
            md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar layout="column" layout-align="start end" class="md-hue-2">
    <div><md-icon hide-gt-sm ng-click="SS.close()"><i class="mdi mdi-close"></i></md-icon></div>
  </md-toolbar>
  <md-content class="md-padding">
    <div layout="column" layout-align="start">
      <header><h3>Weekly Average</h3></header>
      <section layout layout-align="end end" class="md-padding">
        <span class="md-title">102</span>
        <div class="md-caption md-padding">ml/dL</div>
      </section>
      <!--<hr/>-->
    </div>
    <div layout="column" layout-align="start">
      <header><h3>Floating Fasting Average</h3></header>
      <section layout layout-align="end end" class="md-padding">
        <span class="md-title">102</span>
        <div class="md-caption md-padding">ml/dL</div>
      </section>
      <!--<hr/>-->
    </div>

    <div layout="column" layout-align="start">
      <header><h3>Daily Carbs</h3></header>
      <section layout layout-align="end end" class="md-padding">
        <span class="md-title">36</span>
        <div class="md-caption md-padding">grams/day</div>
      </section>
     <!-- <hr/>-->
    </div>

    <div layout="column" layout-align="start">
      <header><h2 class="md-title">Insulin</h2></header>
      <md-divider></md-divider>
      <h3>Fast-Acting</h3>
      <section layout layout-align="end end" class="md-padding">
        <span class="md-title">14</span>
        <div class="md-caption md-padding">grams/day</div>
      </section>
      <md-divider></md-divider>
      <h3>Long-Lasting</h3>
      <section layout layout-align="end end" class="md-padding">
        <span class="md-title">24</span>
        <div class="md-caption md-padding">grams/day</div>
      </section>
      <md-divider></md-divider>
      <footer>Daily Total Insulin Units
        <section layout layout-align="end end" class="md-padding">
          <span class="md-title">38</span>
          <div class="md-caption md-padding">grams/day</div>
        </section>
      </footer>
    </div>
    <hr/>
    <header><h2>Comments</h2></header>
    <md-card>
      <md-card-content><p>Text inside the card</p></md-card-content>
    </md-card>
    <md-card>
      <md-card-content><p>Text inside the card</p></md-card-content>
    </md-card>
  </md-content>
</md-sidenav>



