<md-toolbar layout="row" layout-align="center center" class="md-padding md-hue-2">
    <span style="color: white;">
      <md-icon md-svg-src="img/noun_42681_cc.svg" style="color: #28fffd;"></md-icon>
      Blood Glucose Tracker </span>
</md-toolbar>
<div layout style="border:none;">
  <!--sidenav-->
  <div layout="column" style="background-color: #2196F3; border:none;">
    <md-sidenav class="no-select" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-swipe-left="onSwipe()"
                style="background-color: #2196F3; color: ghostwhite">
      <md-toolbar layout="column" layout-align="start end" hide-gt-sm class="md-hue-2">
        <div layout-align="center center" class="md-padding closebox">
          <md-icon hide-gt-sm ng-click="close()"><i class="mdi mdi-close"></i></md-icon>
        </div>
      </md-toolbar>

      <div class="md-padding">
        <div layout="column" layout-align="start" class="md-padding">
          <header><span class="md-title">A1c</span></header>
          <section layout layout-align="end end" class="md-padding">
            <span class="md-headline" style="color: #fff000">{{glucose.A1c | number:1}}</span>
            <div class="md-caption md-padding">ml/dL</div>
          </section>
          <md-divider></md-divider>
        </div>
        <div layout="column" layout-align="start" class="md-padding">
          <div layout layout-align="space-between">
            <header><span class="md-subhead">In-Target</span></header>
            <span style="color: #80ff05;">Yes</span></div>
          <section layout layout-align="end end" class="">
            &nbsp;<span class="md-headline"> -- </span>
            <div class="md-caption md-padding">day(s)</div>
          </section>
          <md-divider></md-divider>
        </div>
        <div layout="column" layout-align="start" class="md-padding">
          <header><span class="md-subhead">Fasting Average&nbsp;<small>(float)</small></span></header>
          <section layout layout-align="end end" class="md-padding">
            <span class="md-headline" style="color: #80ff05;">{{glucose.fastingAvg | number:0}}</span>
            <div class="md-caption md-padding">ml/dL</div>
          </section>
          <md-divider></md-divider>
        </div>


        <div layout="column" layout-align="start">
          <header><h2 class="md-headline">Insulin</h2></header>

          <div layout="column" layout-align="start" class="md-padding">
            <header><span class="md-subhead">Fast Acting</span></header>
            <section layout layout-align="end end" class="">
              <span class="md-title">{{insulin.fastActing}}</span>
              <div class="md-caption md-padding">grams/day</div>
            </section>
            <md-divider></md-divider>
          </div>
          <div layout="column" layout-align="start" class="md-padding">
            <header><span class="md-subhead">Long Lasting</span></header>
            <section layout layout-align="end end" class="">
              <span class="md-title">{{insulin.longLasting}}</span>
              <div class="md-caption md-padding">grams/day</div>
            </section>
            <md-divider></md-divider>
          </div>
          <footer>Daily Total Insulin Units
            <section layout layout-align="end end" class="md-padding">
              <span class="md-title">{{insulin.units}}</span>
              <div class="md-caption md-padding">grams/day</div>
            </section>
          </footer>
        </div>
      </div>

    </md-sidenav>
  </div>
  <!--/sidenav-->
  <div flex layout="column">
    <!-- nav menu -->
    <nav layout-gt-sm="row" layout-align-gt-sm="end" layout layout-align="center center" style="border: none">

      <md-button layout-align="start" hide-gt-sm ng-click="toggleLeft()"
                 style="border-bottom: dotted thin #c2c2c2; line-height: .8rem; padding: .5rem;"><i
        class="mdi mdi-information-outline" style="font-size:24px;"></i><br/><span>Stats</span>
      </md-button>
      <md-button data-ui-sref="selector"
                 style="border-bottom: dotted thin #c2c2c2; line-height: .8rem; padding: .5rem;"><i
        class="mdi mdi-book-open-variant" style="font-size:24px;"></i><span><br/>Log Book</span></md-button>
      <md-button layout-align="start"
                 style="border-bottom: dotted thin #c2c2c2; line-height: .8rem; padding: .5rem;"><i
        class="mdi mdi-settings" style="font-size:24px;"></i><br/><span>Settings</span>
      </md-button>

    </nav>

    <section flex layout="column" class="md-padding" ui-view style="border: none; min-height: 100vh;">
      <div layout="column" style="background-color: #fafafa; color: dimgrey; min-height: 100vh; ">

        <!--  <section flex="80" layout="column" class="">
           <h3>Select custom time range</h3>
            <div layout layout-align-gt-sm="space-around end">
              <form name="daterange" flex layout-align-gt-sm="space-around end">
                <div flex layout="column" layout-align="space-around center" layout-gt-sm="row"
                     class="md-padding">

                  <div layout="column" layout-align="center" style="border: none;margin: 1.5rem;">
                    <label for="startdatefield">Beginning Date:</label>
                    <md-datepicker id="startdatefield" name="startdatefield" ng-model="snapShotStart" md-placeholder=""
                                   required
                                   md-max-date="snapShotEnd"
                                   class=""></md-datepicker>
                    <div class="validation-messages" ng-messages="daterange.startdatefield.$error">
                      <div ng-message="valid">The entered value is not a date!</div>
                      <br/>
                      <div ng-message="required">A date is required!</div>
                    </div>
                  </div>

                  <div layout="column" layout-align="center" style="border: none; margin: 1.5rem;">
                    <label for="enddatefield">End Date:</label>
                    <md-datepicker id="enddatefield" name="enddatefield" ng-model="snapShotEnd" md-placeholder=""
                                   required
                                   md-min-date="snapShotStart"
                                   class=""></md-datepicker>
                    <div class="validation-messages" ng-messages="daterange.enddatefield.$error">
                      <div ng-message="valid">The entered value is not a date!</div>
                      <br/>
                      <div ng-message="required">A date is required!</div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </section>-->


        <div layout layout-align="center center">
          <md-card flex-sm="30" flex-gt-sm="25" layout-align="" style="min-width:180px">
            <div layout layout-align="end end" style="padding:.5rem; background-color: #e2e2e2; border: none">
              <div layout>
                <md-icon><i class="mdi mdi-checkbox-blank-circle" style="color: #75aa44;"></i></md-icon>
              </div>
            </div>
            <div layout="column" layout-align="start center">
              <md-card-title class="md-title" style="margin: 2rem;">
                <span>Previous</span>
              </md-card-title>
              <md-card-content layout layout-align="end end">
                <div class="md-display-2"> {{glucose.prev.bloodGlucose}}</div>
                <span>ml/dL</span>
              </md-card-content>
            </div>
            <md-card-footer>
              <div>{{glucose.prev.testDateTime | date:'short'}}</div>
            </md-card-footer>
          </md-card>
          <div layout="column" layout-align="space-between stretch">
            <div>
              <md-list layout-fill>
                <md-list-item layout-align="space-between end" class="md-padding">
                  <md-subhead>Deviation</md-subhead>
                  <md-list-content>{{glucose.current.bloodGlucose - glucose.prev.bloodGlucose}}</md-list-content>
                </md-list-item>
                <md-list-item layout="column" layout-align="center center">
                  <md-list-content>
                    <div>
                      <md-icon><i class="mdi mdi-trending-down" style="transform: scale(2)"></i></md-icon>
                    </div>
                  </md-list-content>
                </md-list-item>
              </md-list>
            </div>

          </div>
          <md-card flex-sm="30" flex-gt-sm="25" layout-align="center stretch" style="min-width:180px">
            <div layout layout-align="end end" style="padding:.5rem; background-color: #e2e2e2; border: none">
              <div layout>
                <md-icon><i class="mdi mdi-checkbox-blank-circle" style="color: #75aa44;"></i></md-icon>
              </div>
            </div>
            <div layout="column" layout-align="center center">
              <md-card-title class="md-title" style="margin: 2rem;">
                <span>Current</span>
              </md-card-title>
              <md-card-content layout layout-align="end end">
                <div class="md-display-2"> {{glucose.current.bloodGlucose}}</div>
                <span>ml/dL</span>
              </md-card-content>
            </div>
            <md-card-footer>
              <div>{{glucose.current.testDateTime | date:'short'}}</div>
            </md-card-footer>
          </md-card>
          <div flex="30" layout-end style="border: none;">

            <div layout="column" layout-align="end end" style="padding: 0; border: none; min-width:250px;">

              <md-list layout ng-model="timeSpan" ng-value="timespan" ng-repeat="timespan in timespans">
                <md-list-content>
                  <md-button class="md-warn" style="border: none;">{{timespan}}</md-button>
                </md-list-content>
              </md-list>

            </div>
          </div>
        </div>
      </div>


    </section>
  </div>


</div>
<!-- footer -->
<footer flex layout="column" layout-align="center center" style="height:40px; border:none;">
  <div layout layout-align="center center">
    <p layout="column" layout-align="center center">BGTrack v1.0.0</p>
  </div>
</footer>
<!-- footer -->
