<md-toolbar layout="row" layout-align="center center" class="md-padding" style="background-color: #333">
    <span style="color: white;">
      <md-icon md-svg-src="img/noun_42681_cc.svg" style="color: #28fffd;"></md-icon>
      Blood Glucose Tracker </span>
</md-toolbar>
<div layout style="border:none;">
  <!--sidenav-->
  <div layout="column" style="background-color: #2196F3; border:none;">
    <md-sidenav class="no-select" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')"
                md-swipe-left="onSwipe()"
                style="background-color: #2196F3; color: ghostwhite">
      <md-toolbar layout="column" layout-align="start end" hide-gt-sm class="md-hue-2">
        <div layout-align="center center" class="md-padding closebox">
          <md-icon hide-gt-sm ng-click="close()"><i class="mdi mdi-close"></i></md-icon>
        </div>
      </md-toolbar>

      <div class="md-padding">
        <div layout="column" layout-align="start" class="md-padding">
          <div layout class="md-padding" layout-align="space-around">
            <header><span class="md-display-3">A1c</span></header>
            <div class="md-display-2" style="color: #fff000">{{glucose.A1c | number:1}}</div>
          </div>
          <md-divider></md-divider>
        </div>

        <div layout="column" layout-align="start" class="md-padding">
          <header><span class="md-subhead">Fasting Average&nbsp;<small>(float)</small></span></header>
          <section layout layout-align="end end" class="md-padding">
            <span class="md-headline" style="color: #80ff05;">{{glucose.fastingAvg | number:0}}</span>
            <div class="md-caption md-padding">ml/dL</div>
          </section>
          <md-divider></md-divider>
        </div>


        <div layout="column" layout-align="start">
          <header><h2 class="md-headline">Insulin</h2></header>

          <div layout="column" layout-align="start" class="md-padding">
            <header><span class="md-subhead">Fast Acting</span></header>
            <section layout layout-align="end end" class="">
              <span class="md-title">{{insulin.fastActing}}</span>
              <div class="md-caption md-padding">units</div>
            </section>
            <md-divider></md-divider>
          </div>
          <div layout="column" layout-align="start" class="md-padding">
            <header><span class="md-subhead">Long Lasting</span></header>
            <section layout layout-align="end end" class="">
              <span class="md-title">{{insulin.longLasting}}</span>
              <div class="md-caption md-padding">units</div>
            </section>
            <md-divider></md-divider>
          </div>
          <footer>Daily Total Insulin Units
            <section layout layout-align="end end" class="md-padding">
              <span class="md-title">{{insulin.units}}</span>
              <div class="md-caption md-padding">units</div>
            </section>
          </footer>
        </div>
      </div>

    </md-sidenav>
  </div>
  <!--/sidenav-->
  <div flex layout="column">
    <!-- nav menu -->
    <nav layout-gt-sm="row" layout-align-gt-sm="end" layout layout-align="center center" style="border: none">

      <md-button layout-align="start" hide-gt-sm ng-click="toggleLeft()"
                 style="border-bottom: dotted thin #c2c2c2; line-height: .8rem; padding: .5rem;"><i
        class="mdi mdi-information-outline" style="font-size:24px;"></i><br/><span>Stats</span>
      </md-button>
      <md-button data-ui-sref="selector"
                 style="border-bottom: dotted thin #c2c2c2; line-height: .8rem; padding: .5rem;"><i
        class="mdi mdi-book-open-variant" style="font-size:24px;"></i><span><br/>Log Book</span></md-button>
      <md-button layout-align="start"
                 style="border-bottom: dotted thin #c2c2c2; line-height: .8rem; padding: .5rem;"><i
        class="mdi mdi-settings" style="font-size:24px;"></i><br/><span>Settings</span>
      </md-button>

    </nav>

    <section flex layout="column" class="md-padding" ui-view style="border: none; min-height: 100vh;">
      <div layout="column" style="background-color: #fafafa; color: dimgrey; min-height: 100vh; ">

        <!--  <section flex="80" layout="column" class="">
           <h3>Select custom time range</h3>
            <div layout layout-align-gt-sm="space-around end">
              <form name="daterange" flex layout-align-gt-sm="space-around end">
                <div flex layout="column" layout-align="space-around center" layout-gt-sm="row"
                     class="md-padding">

                  <div layout="column" layout-align="center" style="border: none;margin: 1.5rem;">
                    <label for="startdatefield">Beginning Date:</label>
                    <md-datepicker id="startdatefield" name="startdatefield" ng-model="snapShotStart" md-placeholder=""
                                   required
                                   md-max-date="snapShotEnd"
                                   class=""></md-datepicker>
                    <div class="validation-messages" ng-messages="daterange.startdatefield.$error">
                      <div ng-message="valid">The entered value is not a date!</div>
                      <br/>
                      <div ng-message="required">A date is required!</div>
                    </div>
                  </div>

                  <div layout="column" layout-align="center" style="border: none; margin: 1.5rem;">
                    <label for="enddatefield">End Date:</label>
                    <md-datepicker id="enddatefield" name="enddatefield" ng-model="snapShotEnd" md-placeholder=""
                                   required
                                   md-min-date="snapShotStart"
                                   class=""></md-datepicker>
                    <div class="validation-messages" ng-messages="daterange.enddatefield.$error">
                      <div ng-message="valid">The entered value is not a date!</div>
                      <br/>
                      <div ng-message="required">A date is required!</div>
                    </div>
                  </div>

                </div>
              </form>
            </div>
          </section>-->


        <div layout layout-align="center center">
          <md-card flex-sm="30" flex-gt-sm="25" layout-align="" style="">
            <div layout layout-align="space-between end"
                 style="padding:.5rem; background-color: #ababab; color:white; border: none">
              <span>Fasting</span>
              <div layout layout-align="center end">
                <span>Previous</span>
              </div>
            </div>
            <div layout="column" layout-align="start center">
              <md-card-content layout layout-align="end end">
                <md-icon><i class="mdi mdi-checkbox-blank-circle" style="color: #75aa44;"></i></md-icon>
                &nbsp;
                <div><span class="md-display-2">{{glucose.prev.bloodGlucose}}</span> <span>ml/dL</span></div>

              </md-card-content>
              <md-footer>
                <div layout-fill="">{{glucose.prev.testDateTime | date:'medium'}}</div>
              </md-footer>
            </div>
          </md-card>
          <div layout="column" layout-align="space-between stretch">
            <div>
              <md-list layout-fill>
                <md-list-item layout="column" layout-align="space-between center" class="md-padding">
                  <md-subhead>Variance</md-subhead>
                  <md-list-content>{{glucose.current.bloodGlucose - glucose.prev.bloodGlucose}}</md-list-content>
                </md-list-item>

                <md-list-item layout="column" layout-align="center center">
                  <md-list-content>
                    <div>
                      <md-icon><i class="mdi mdi-trending-neutral" style="transform: scale(3)"></i></md-icon>
                    </div>
                  </md-list-content>
                </md-list-item>
              </md-list>
            </div>

          </div>
          <md-card flex-sm="30" flex-gt-sm="25" layout-align="center stretch" style="">
            <div layout layout-align="space-between end" style="padding:.5rem; background-color: #ababab; border: none">
              <span>
                <span>{{glucose.tag}}</span>
              </span>
              <div layout layout-align="end end">
                <span style="color:white;">Current</span>

              </div>
            </div>
            <div layout="column" layout-align="start center">
              <md-card-content layout layout-align="end end">
                <md-icon><i class="mdi mdi-checkbox-blank-circle" style="color: #75aa44; font-size:22px;"></i></md-icon>
                &nbsp;
                <div><span class="md-display-2">{{glucose.current.bloodGlucose}}</span>
                  <span>ml/dL</span>
                </div>
              </md-card-content>
              <md-footer>
                <div layout-fill="">{{glucose.current.testDateTime | date:'medium'}}</div>
              </md-footer>
            </div>
          </md-card>
          <div flex="30" layout-end style="border: none;">

            <div layout="column" layout-align="end end" style="padding: 0; border: none;">

              <md-list layout ng-model="timeSpan" ng-value="timespan" ng-repeat="timespan in timespans">
                <md-list-content>
                  <md-button class="md-warn" style="border: none;">{{timespan}}</md-button>
                </md-list-content>
              </md-list>
            </div>
          </div>
        </div>
        <!--Chartist -->


        <div class="md-padding" layout layout style="border:dotted thin #e5e5e5;">

          <chartist flex="33" class="ct-chart " chartist-data="lineData" chartist-chart-type="Bar"
                    chartist-chart-options="lineOptions" chartist-responsive-options="barResponsiveOptions"></chartist>
        </div>


        <!--End of chart -->
      </div>


    </section>
  </div>


</div>
<!-- footer -->
<footer flex layout="column" layout-align="center center"
        style="height:40px; border:none; background-color: #333; color: #c2ccd1;">
  <div layout layout-align="center center">
    <p layout="column" layout-align="center center">BGTrack v1.0.0</p>
  </div>
</footer>
<!-- footer -->
