<div flex layout="column" class="md-padding" style="background-color: #fafafa; color: dimgrey; border:none;  ">
  <div layout="column" class="md-padding md-whiteframe-z2" style="margin: 2rem; min-width: 360px">
    <h2>Meal Log</h2>

    <form name="sS.meallogForm" novalidate ng-submit="sS.addNewMeal()" id="projectForm" class="md-padding">

      <md-input-container><label for="description">Meal Name</label>
        <input type="text" md-autofocus required id="description" name="description" ng-model="sS.newMeal.description"/>
        <div ng-messages="sS.meallogForm.description.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <br/>
      <md-input-container><label for="carbcount">Carb Count</label>
        <input type="text" required id="carbcount" name="carbcount" ng-model="sS.newMeal.carbCount"
               ng-minlength="1"
               ng-pattern="/\d/"/>
        <div ng-messages="sS.meallogForm.carbcount.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="pattern">Please enter a numeric value.</div>

        </div>
      </md-input-container>
      <br/>


      <div>
        <md-datepicker id="dateField" name="dateField" ng-model="sS.newMeal.mealDateTime" md-placeholder=""
                       required class=""></md-datepicker>
        <div class="" ng-messages="sS.meallogForm.dateField.$error">
          <div ng-message="valid">The entered value is not a date!</div>
          <br/>
          <div ng-message="required">A date is required!</div>
        </div>
      </div>

      <div ng-model="sS.newMeal.mealDateTime" ui-timepicker>Click to change the time: {{
        newMeal.mealDateTime | date:'shortTime' }}
      </div>


      <div>{{newMeal.mealDateTime | date:'medium'}}</div>
      <md-input-container>
        <label for="ingredients">Ingredients</label>
        <textarea id="ingredients" name="ingredients" ng-model="sS.newMeal.ingredients" columns="1" md-maxlength="150"
                  rows="5"></textarea>
      </md-input-container>
      </br>

      <md-button type="submit" class="md-raised md-accent" ng-disabled="sS.meallogForm.$invalid"
                 style="margin: 2rem 0;">
        Save
      </md-button>

    </form>
    {{newMeal}}
  </div>
</div>
