<div layout="column" style="background-color: #fafafa; color: dimgrey; height: 90vh; ">

  <section layout="column"  class="">

    <div layout layout-align-gt-sm="space-around end">
      <form name="daterange" flex layout-align-gt-sm="space-around end">
      <div flex layout="column" layout-align="space-around center" layout-gt-sm="row"
           class="md-padding">

          <div layout="column" layout-align="center" style="border: none;margin: 1.5rem;">
            <label for="startdatefield">Beginning Date:</label>
            <md-datepicker id="startdatefield" name="startdatefield" ng-model="snapShotStart" md-placeholder=""
                           required
                           md-max-date="snapShotEnd"
                           class=""></md-datepicker>
            <div class="validation-messages" ng-messages="daterange.startdatefield.$error">
              <div ng-message="valid">The entered value is not a date!</div>
              <br/>
              <div ng-message="required">A date is required!</div>
            </div>
          </div>

          <div layout="column" layout-align="center" style="border: none; margin: 1.5rem;">
            <label for="enddatefield">End Date:</label>
            <md-datepicker id="enddatefield" name="enddatefield" ng-model="snapShotEnd" md-placeholder=""
                           required
                           md-min-date="snapShotStart"
                           class=""></md-datepicker>
            <div class="validation-messages" ng-messages="daterange.enddatefield.$error">
              <div ng-message="valid">The entered value is not a date!</div>
              <br/>
              <div ng-message="required">A date is required!</div>
            </div>
          </div>

      </div>
      </form>
    </div>
  </section>
</div>

